html {
    height: 100%;
}
body {
    background: #F1F1F1;
    height: 100%;
}
#container {
    height: 100%;
}
#header, #footer {
    color: white;
    background: #222;
}
#header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 3.2em;
}
.top-nav-left {
    float: left;
}
.top-nav-left li, .top-nav-right li {
    display: inline-block;
    padding: 0 1em;
    line-height: 3em;
}
.top-nav-left li:hover, .top-nav-right li:hover {
    background: black;
}
.top-nav-right {
    float: right;
}
.login-link {
    font-weight: bold;
}

#header h1,#header h2, #header h3, #footer h1, #footer h2, #footer h3 {
    color: white;
}
#main {
    min-height: 60%;
    margin-top: 3.2em;
}
.row.slider, .row.special-service1, .row.special-service2, .row.other-services, .row.our-team, .row.our-contacts {
    padding: 2em 0em;
    max-width: 100%;
}
.row.slider, .row.special-service2, .row.our-team {
    background: white;
}
.message-block {
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.message-block .alert-box {
    font-size: 1.2em;
}
.successMessage {
    color: white;
    background: rgb(22, 177, 90);
    font-size: 1.5em;
}
.errorMessage {
    color: white;
    background: rgb(218, 3, 3);
    font-size: 1.5em;
}
.slider {
    text-align: center;
}
h2 {
    font-weight: bold;
    color: rgb(95, 95, 95);
}
#wrapper-login-form {
    margin-top: 7em;
}
img.shadow {
    box-shadow: 1px 4px 11px rgb(58, 57, 57);
}
.info-text {
    line-height: 1.7em;
    text-indent: 1em;
}
.contact-text {
    padding: 2em 0em;
}
.contact-text li {
    list-style: none;
}
.contact-text span {
    font-weight: bold;
    color: rgb(78, 76, 76);
}
#footer {
    margin-top: 10em;
    min-height: 12em;

}